<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>

  <div class="products">
    <%= render @products %>
    # // array/ collection of products
    # // look for a partial called product
    # // iterate over @products and render product partial for each product
    # // for
  </div>

</section>
